body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.appshell{
  display: flex;
  padding: 20px 50px 20px 50px;
  height: 100vh;
  box-sizing: border-box;
}
.gameInfo{
  flex-grow: 2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.battlefield-container{
  flex-grow: 3;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.battlefield{
  flex-grow: 1;
  border: 4px solid #ffb000;;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 500px;
  height: 500px;
  font-size: 0;
}
.score-container{
  flex-grow: 1;
  display: flex;
}
.score-container > div:first-child{
  background-color: #ffb000;
}
.score-container > div:last-child{
  background-color: #25b79f;
}
.player{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: bold;
}
.player > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.score{
  flex-grow: 1;
  border-bottom: 1px solid black;
  height: 50%;
  font-size: 60px;
}
.name{
  flex-grow: 1;
  height: 50%;
  font-size: 30px;
}
.ship-container{
  padding: 10px;
  flex-grow: 3;
  display: grid;
}
.ship{
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.ship-icon img{
    max-width: 200px;
    height: auto;
}
.health{
  justify-self: start;
  margin-left: 10px;
}
.health img{
    max-width: 30px;
    height: auto;
}
.cell{
    width: 50px;
    height: 50px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
  .appshell{
    flex-direction: column-reverse;
    padding: 10px;
  }
  .gameInfo{
    flex-grow: 1;
    flex-direction: row;
  }
  .score-container{
    width: 30%;
  }
  .score{
    font-size: 40px;
  }
  .name{
    font-size: 20px;
  }
  .battlefield-container{
    flex-grow: 5;
  }
  .ship-container{
    grid-template-columns: 1fr 1fr; 
  }
  .ship-icon img{
    max-width: 130px;
  }
  .health img{
    max-width: 18px;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait){
  .appshell{
    flex-direction: column-reverse;
    padding: 0;
  }
  .gameInfo{
    flex-grow: 1;
    padding: 0;
  }
  .battlefield-container{
    flex-grow: 4;
    padding: 0;
  }
  .ship-container{
    grid-template-columns: 1fr 1fr; 
  }  
  .cell{
    width: 30px;
    height: 30px;
  }
  .battlefield{
    max-width: 300px;
    height: 300px;
  }
  .ship-icon img{
    max-width: 90px;
  }
  .health{
    margin-left: 5px;
  }
  .health img{
    max-width: 14px;
  }
  .score{
    font-size: 40px;
  }
  .name{
    font-size: 20px;
  }
}